@import url('http://fonts.googleapis.com/css2?family=Mada&display=swap');

.signInContainer{
    height: 95vh;
margin-top: 10px;
margin-left: 20px;
}

.signIn{
    color: #070707;

text-align: center;
font-family: Mada;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.signInP{
    color: #333;
text-align: center;
font-family: Mada;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.googleButton{
    border-radius: 15px;
    border: 2px solid #D2D2D2;
    /* color: #363636; */
    font-family: Mada;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}




  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .divider {
    flex: 1;
    border-bottom: 1px solid #000;
    margin: 0 10px;
    /* width: 15px ; */
  }
  
  .or-text {
    color: #868686;
    font-family: Mada;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .signInForm{
    text-align: left;
  }

  .Forgotten{
    color: #868686;
    font-family: Mada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* text-align: right; */
    margin-left: 340px;
    text-wrap: nowrap ;
  }

  .signUpP{
    color: #868686;
    font-family: Mada;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 15px;
  }
  .signUpP span{
    color: #363636;
    font-family: Mada;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }