/* 

.category-dropdown {
    position: relative;
    display: inline-block;
  }
  
  select {
    width: 280px;
    height: 40px;
    border: 2px solid #FFA500;
  }
  
  .subcategories {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background: #fff;
    border: 1px solid #ccc;
    border-left: none;
    border-top: none;
    z-index: 1;
  }
  
  .subcategories.active {
    display: block;
  }
  
  .subcategory {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .subcategory:last-child {
    border-bottom: none;
  }
  
  .subcategory:hover {
    background: #f0f0f0;
  }
   */

   /* .CategoryBox{
    border: 10px solid #141414 ;
    width: 380px;
    height: 50px;
   } */
   .menuDiv{
    /* flex cursor-pointer mt-8 border border-orange-300 rounded  */
    display: flex;
    margin-top:18px;
    border: 2px solid orange;
border-radius: 15px;

   }
.unlistMenu{
  width: 330px;
  border: 2px solid blue;
  border-radius: 12px;

}
   .listedMenu{
    border: 2px dashed brown;
    height: 35px;
    transition: .5s ease;
    margin-bottom: 8px;

   }
   .listedMenu:hover{
    background-color: #87C505;
   }


   .unlistedSub{
    width: 380px;
    border: 2px dashed yellow;

   }


   .listedSubMenu{
    border: 2px dashed blueviolet;
    height: 35px;
    padding-left: 5px;
    margin-left: 30px;
    transition: 1s ease;
  border-radius: 12px;
  margin-bottom: 12px;



   }

   .listedSubMenu:hover{
    background-color: #87C505;
   }
