/* body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} */
.centered{
  
   max-width: 1440px;
   min-width:640px
}
.full-width-footer {
    width: 100%;
    position: relative;
    /* Add other styles as needed */
  }
  